@media (max-width:992px) {
    /* main section design */
    .home {
        grid-template-columns: 1fr;
    }
    .home-right{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap : 10px;
    }
    .news-large-1{
        grid-template-columns: 1fr;
    }
    .news-large-2{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .news .articles{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    /* end main section design */
}
@media (max-width:767px) {
    /* header section design  */
    .home-left{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    nav .nav-menu{
        overflow-y: scroll;
    }
    nav .nav-menu::-webkit-scrollbar{
        height: 0;
    }
    /* End header section design  */

    /* main section design */
    .news .articles{
        grid-template-columns: 1fr 1fr;
    }
    /* end main section design */

    /* footer section design  */
    footer ul,
    footer .info ul{
        overflow-y: scroll;
    }
    footer ul::-webkit-scrollbar,
    footer .info ul::-webkit-scrollbar{
        height: 0;
    }
    /* End footer section design  */
}
@media (max-width:592px) {
    /* header section design  */
    .home-right{
        grid-template-columns: 1fr;
    }
    header .right{
        display: none;
    }
    /* End header section design  */

    /* main section design */
    .news-grid-2{
        grid-template-columns: 1fr;
    }
    .news .articles{
        grid-template-columns: 1fr;
    }
    /* end main section design */
}