@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* custom css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root{
    --black-color: #000000;
    --light-black-color: #555555;
    --dark-red-color: #ff0000;
    --whtie-color: #ffffff;
    --light-white-color: #cccccc;
}
html{
    scroll-behavior: smooth;
}
i{
    font-size: 1.413rem;
    cursor: pointer;
    position: relative;
}
i:hover::after{
    position: absolute;
    bottom: -25px;
    width: max-content;
    background-color: var(--black-color);
    color: var(--whtie-color);
    font-size: 0.625rem;
    padding: 8px;
    border-radius: 3px;
    letter-spacing: 2px;
    text-align: center;
}
i.fa-bars:hover::after{
    content: 'Menu';
}
i.fa-magnifying-glass:hover::after{
    content: 'Search Anything';
}
.btn{
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    color: var(--black-color);
    background-color: var(--whtie-color);
    transition: all .3s ease;
}
.btn.active{
    color: var(--whtie-color);
    background-color: var(--black-color);
}
.btn:hover{
    color: var(--whtie-color);
    background-color: var(--black-color);
}
a{
    text-decoration: none;
    color:var(--light-black-color);
}
a:hover{
    text-decoration: underline;
}
/* End custom css  */

/* header section design  */
header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--black-color);
    display: flex;
    align-items: center;
}
header .left{
    width: 100px;
    display: flex;
    justify-content: space-evenly;
}
header .middle{
    flex: 1;
}
header .middle h1{
    text-align: center;
}
header .middle h1 span{
    font-size: 1.413rem;
    line-height: 1.413rem;
    color: var(--whtie-color);
    background-color: var(--black-color);
    padding: 4px;
    margin: 0 10px;
}
header .right{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}

nav{
    border-bottom: 1px solid var(--black-color);
    padding: 3px;
}
nav .nav-menu{
    width: 100%;
    display: flex;
    justify-content: center;
}
nav .nav-item{
    list-style: none;
    margin: 0 10px;
}
nav .nav-link{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    position: relative;
    color: var(--black-color);
}
.nav-link.active{
    font-weight: 700;
}
.nav-link:hover{
    font-weight: 700;
}
.nav-link.active::after,
.nav-link:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--black-color);
    left: 0;
    bottom: -3px;
}

.nav-link:hover::after{
    animation: nav-link .3s linear 0s forwards;
}
@keyframes nav-link {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
/* End header section design  */

/* main section design  */
.container{
    width: 100%;
    padding: 1rem;
    /* background-color: red; */
}
.img-fluid{
    width: 100%;
}
.news-large-1,
.news-large-2{
    width: 100%;
    margin: 0.813rem 0;
    display: grid;
    gap: 10px;
    cursor: pointer;
}
.news-large-1{
    grid-template-columns: 1fr 400px;
}
.news-large-2{
    grid-template-columns: 400px 1fr;
}
.news-large-1 .right,
.news-large-2 .left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}
.news .title{
    font-size: 1.813rem;
}
.news .desc{
    color: var(--light-black-color);
}
.news .title a{
    color: var(--black-color);
}
.news button{
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    border: 2px solid var(--black-color);
    background-color: var(--whtie-color);
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
.news button:hover{
    background-color: var(--black-color);
    color: var(--whtie-color);
}
.news{
    width: 100%;
    padding: 20px 10px;
    border-top: 2px solid var(--black-color);
}
.news h2{
    font-weight: 500;
}
.news .articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}
.news article{
    padding: 10px;
    cursor: pointer;
}
.news article h3{
    font-size: 1.125rem;
    font-weight: 400;
}
.news article h3 a{
    color: var(--black-color);
}
.news article p{
    margin: 1rem 0;
    font-size: 0.813rem;
}
.news article:hover a{
    text-decoration: underline;
}
.news-grid-2,
.news-grid-3{
    width: 100%;
    margin: 0.813rem 0;
    display: grid;
    gap: 10px;
}
.news-grid-2{
    grid-template-columns: 1fr 1fr;
}
.news-grid-3{
    grid-template-columns: 1fr 1fr 1fr;
}
.news-grid-2 h3{
    margin-top: 0.625rem;
}
.news-grid-2 h3 a{
    color: var(--black-color);
}
.news-grid-2 p{
    margin: 0.625rem 0;
}
.home {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
.home-left{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
.home article{
    border-bottom: 1px solid var(--light-white-color);
    margin-bottom: 10px;
}
.home article h3{
    margin-top: 0.813rem;
}
.home article h3 a{
    color: var(--black-color);
}
.home article p{
    margin: 0.813rem 0;
}
/* End main section design  */

/* footer section design  */
footer{
    width: 100%;
    padding: 1rem 2rem;
    border-top: 1px solid var(--black-color);
}
footer h1 span{
    font-size: 1.413rem;
    line-height: 1.413rem;
    color: var(--black-color);
}
footer ul{
    display: flex;
    margin: 1.5rem 0;
}
footer ul li{
    list-style: none;
    margin-right: 10px;
    transition: all 0.3s ease;
}
footer ul li a{
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
}
footer ul li:hover a{
    text-decoration: underline;
}
footer .select{
    width: fit-content;
    height: 40px;
    padding: .413rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--light-white-color);
    margin: 0.413rem 0;
}
footer .info{
    border-top: 1px solid var(--light-white-color);
    margin: 1.5rem 0 4rem;
}
footer .info ul{
    margin: .413rem 0 1rem;
}
footer .info ul li a{
    font-weight: 400;
}
footer .info p{
    font-weight: 400;
}
/* End footer section design  */